.title {
        width: 395px; 
        height: 100px; 
        z-index : 1;
        position: absolute; 
        background-color: #93B7BE; 
        font-size: 50pt; 
        margin-left: 1100px;
        margin-top: 210px; 
        text-align: center;  
        border: solid 2pt #723D46; 
        color: #5B4C51;
        box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2)
}

.mealTitle {
        font-size: 30pt; 
        margin-top: 20px; 
        margin-left: 250px; 
}

.newMealBox {
        padding: 10px; 
        margin-left: 200px; 
        margin-bottom: 50px; 
        margin-right: 50px; 
        width: 1100px; 
        border: solid 2px black; 
}
.newMealTitle {
        font-size: 30pt; 
        margin-top: 20px; 
        margin-left: 20px; 
}

.sizeMealInput {
        font-size: 20pt; 
}

.makeMealButton {
        margin-left: 100px; 
        height: 30px; 
}

.addIngredientsBox {
        margin-left: 50px; 
        margin-right: 100px; 
        border: dotted 2px black; 
}

.addIngredients {
        font-size: 15pt; 
        margin-right: 100px; 
}

.recipe_pic {
        font-size: 15pt; 
        margin-left: 20px; 
}

.instructionsImageBox {
        margin-bottom: 10px; 
        margin-top: 20px; 
}
.instructionsTitle {
        font-size: 15pt;
        margin-left: 50px;  
}
.instructionsBox {
    width: 500px; 
    height: 300px; 
    margin-left: 50px;  
}

.formImage {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
        width: 400px;
        height: 300px; 
        margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 5px;
}