.title {
    width: 395px; 
    height: 100px; 
    z-index : 1;
    position: absolute; 
    background-color: #93B7BE; 
    font-size: 50pt; 
    margin-left: 850px;
    margin-top: 225px; 
    text-align: center;  
    border: solid 2pt #723D46; 
    color: #5B4C51;
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2)
}

.recipeTitle{
    font-size: 30pt; 
}

.deleteMealButt{
    margin-left: 990px; 
    width: 110px; 
    font-size: 14pt; 
    margin-bottom: 10px; 

}

.lunchCard {
    padding: 10px; 
    margin-top: 100px; 
    margin-left: 250px; 
    margin-bottom: 50px; 
    margin-right: 50px; 
    width: 1100px; 
    border: solid 2px black; 
}

.recipeDetails {
    display: flex; 
    flex-direction: row; 
}

.ingredientsBox {
    width: 400px; 
    /* height: 200px;  */
    margin-left: 75px; 
    margin-right: 50px; 
    border: dotted 2px #93B7BE; 
    background-color: rgb(208, 222, 193); 
}

.perServing{
    text-decoration: underline; 
}
.usersMealMacros {
    border: solid 2px black;
    height: 250px;  
    margin-left: 25px; 
    margin-bottom: 30px; 
    padding: 10px; 
    font-size: 9pt; 
    background-color: rgb(185, 164, 174); 
}

.nutritionBox{
    margin-top: 30px; 
    display: flex; 
    flex-direction: row;
    margin-bottom: 30px; 
}

.mealCardImage {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    width: 400px;
    height: 300px; 
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.instructImage{
    display: flex; 
    flex-direction: row; 
}
.instructionsBox {
    width: 550px; 
    height: 300px; 
    margin-left: 50px;  
    border: dotted 2px #93B7BE; 
    background-color: rgb(208, 222, 193); 
}

.list{
    margin-left: 30px; 
    margin-bottom: 10px; 
}