.titlePage {
        width: 350px; 
        height: 100px; 
        z-index : 1;
        position: absolute; 
        background-color: #93B7BE; 
        font-size: 60pt; 
        margin-left: 900px;
        margin-top: 235px; 
        text-align: center;  
        border: solid 2pt #723D46; 
        color: #5B4C51;
        box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2)
        }


.introH {
        margin-left: 180px; 
        font-size: 40px; 
}

.introP {
        margin-left: 200px; 
        width: 650px; 
}

.lifeGoalsBox { 
        margin-left: 100px; 
        width: 600px; 
        height: 200px; 
}
    
.lifeGoals {
        width: 100%; 
        height: 200px; 
        
 }

 .lifeTitle {
        margin-left: 370px; 
        font-size: 50px; 
    }
    
    .addGoalsButton {
        margin-top: 5px; 
        margin-left: 600px; 
        height: 30px;
        margin-bottom: 4px;  
    }
    
    .deleteGoalsButton {
        margin-top: 5px; 
        margin-left: 10px; 
        height: 30px; 
        width: 60px; 
    }
    
    .goalButtonBox {
        display: flex; 
        flex-direction: row;
        margin-bottom: 200px; 
        width: 900px; 
    }