.headerPage {
    width: 100%;
    color: #0d8ee4;
    margin: auto;
    padding: 10px;  
    background-color: antiquewhite;  
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2); 
}

#header1  {
    text-align: center; 
    font-family: Georgia, Times, 'Times New Roman', serif;   
    font-size: 30pt; 
}

.userBox {
    
}