.headerPage {
    width: 100%;
    color: #723D46;
    margin: auto;
    padding-bottom: 1px;  
    background-color: #B6C197;  
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);  
}
  
#header1  {
    margin-left: 175px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 65pt;
}

.logout { 
    margin-left: 375px; 
    padding-top: 5px; 
    width: 50px;
    /* padding: 10px;  */
}

.navImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.prof_pic {
    width: 75px;
    height: 75px;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px #333;
    box-shadow: 0 0 20px #333;
    margin-left: 35px; 
    margin-top: 50px; 
}