/* .colorBlock {
    background-color: #B6C197;  
    width: 100%; 
    height: 50px; 
} */
 
.colorBlock2 {
    background-color: white;  
    width: 100%; 
    height: 15px;
}

.colorBlock3 {
    background-color: white;  
    width: 100%; 
    height: 15px;
    margin-top: 20px; 
}

.registerPage {
    margin: auto; 
    background-color: #785964; 
}

.headerOutline{
    width: 100%;
    color: white;
    margin: auto;
    padding-bottom: 1px;  
    background-color: #B6C197;  
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}


#headerReg {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 85pt;
    margin-left: 50px; 
    margin-top: 20px; 
    padding-top: 25px; 
}

#regTitle {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 50pt; 
    margin-left: 100px; 
    color: #D5C7BC; 
}

.introHReg {
    margin-left: 100px; 
}

.introPReg {
    margin-left: 100px; 
    width: 650px; 
}

.registerMain{
    display: flex; 
    flex-direction: row; 
}

.outline1 {
    border: solid 1px black; 
    width: 400px; 
    margin-top: 50px; 
    margin-left: 50px;
    background-color: #B6C197; 
    -webkit-box-shadow: 0 0 20px #333;
    box-shadow: 0 0 20px #333;
}

.userInfoTitle{
    padding-top: 50px; 
}

.usersInfo {
    /* margin-top:20px;  */
    height: 100px; 
    width: 250px; 
    margin-left: 50px; 
    /* padding: 10px;  */
    outline: 3px solid white;
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);  
    color: black;
    background-color: rgb(189, 213, 218); 
}

.usersMacros {
      /* margin-top:20px;  */
      height: 100px; 
      width: 250px; 
      margin-left: 50px; 
      /* padding: 10px;  */
      outline: 3px solid white;
      margin-bottom: 20px; 
      box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);  
      color: black;
      background-color: rgb(189, 213, 218); 
}

h2 {
    margin: 25px; 
}

.regButton{
    margin-left: 300px; 
    margi-top: 50px; 
    margin-bottom: 50px; 
    height: 30px; 
}