.authPage {
    width: 100%;
    height: 800px;
    padding-top: 175px;
    background-color: #785964; 
    color: white;
    font-size: 16px;
    font-family: inherit; 
}
 

.authieBox {
    /* align-content: center;  */
    height: 300px; 
    width: 400px; 
    background-color: #B6C197;
    margin-left: 150px; 
    margin-top: 45px; 
    padding-top: 30px; 
    padding-left: 30px; 
    font-family: 'Avant Garde','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    box-shadow: 10px 0 20px 0 white, 5px 0 5px rgba(0,0,0,.2); 
} 

.loginButt {
    height: 30px; 
    margin-left: 10px; 
}

/* .authieTitleBox {
    margin-left: 50px; 
} */

.authieTitle{
    font-size: 75px;
    margin-left: 80px;
    width: 750px; 
}

/* .coolBox1 {
    width: 100%;
    height: 50px; 
    background-color: white;  */
/* } */

.coolBox2 {
    width: 100%; 
    height: 80px; 
    background-color: #B6C197; 
    border-top: 10px solid white; 
    margin-top: 10px; 
}

.mainAuth{
    display: flex; 
    flex-direction: row; 
}

.with {
    margin-left: 55px; 
}