.macroLabels {
    display: flex; 
    flex-direction: row;
    margin-top: 10px; 
}

.macroLabelsCals {
  font-size: 40px;
  margin-left: 200px; 
}

.macroLabelsCarbs {
    font-size: 40px;
}

.macroLabelsProtein {
    font-size: 40px; 
}

.macroLabelsFat {
    font-size: 40px; 
}

.usersMacrosCurrentStats {
    display: flex; 
    flex-direction: row;
}

.firstMacro {
    font-size: 30px; 
    margin-left: 290px; 
    border: solid 2px black; 
}

.allOtherMacros {
    font-size: 30px; 
    margin-left: 140px; 
    border: solid 2px black; 
}

.firstEditMacro{
    margin-left: 160px; 
}

.editMacros {
    font-size: 20px; 
    margin-left: 140px; 
    border: solid 1 px black; 
}

.remaininngEditMacros {
    margin: 30px; 
}

.lifeGoalsBox {
    margin-top: 100px; 
    margin-left: 260px; 

}